<div class="skills-container container-fluid d-flex flex-column align-items-center">
  
  <div class="header-section">
    <h2 class="section-title"><mat-icon>psychology</mat-icon> Habilidades Técnicas</h2>
  </div>

  <div class="technical-skills-grid col-12 col-lg-8">
    <div class="skill-item" *ngFor="let skill of technicalSkills">
      <img [src]="'/assets/icons/' + skill.icon" [alt]="skill.name" class="skill-icon">
      <span class="skill-name">{{ skill.name }}</span>
    </div>
  </div>

  <div class="header-section" style="margin-top: 60px;">
    <h2 class="section-title"><mat-icon>face</mat-icon> Características Personales</h2>
  </div>
  <div class="soft-skills-container col-12 col-lg-6">
    <div class="soft-skill-pill" *ngFor="let softSkill of softSkills">
      <mat-icon>{{ softSkill.icon }}</mat-icon>
      <span>{{ softSkill.name }}</span>
    </div>
  </div>

</div>